body {
  font-size: 40px;
  margin: 0;
}

.hello {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.item {
  align-items: center;
  display: flex;
  justify-content: center;

}

.item1 {
  background-color: chartreuse;
  height: 80px;

}

.item2 {
  display: flex;
  height: 100vh;
}

.small-item1 {
  background-color: hotpink;
  flex-grow: 2;

}

.small-item2 {
  background-color: darkorange;
  flex-grow: 2;

}

.small-item3 {
  background-color: salmon;
  flex-grow: 1;


}

.item3 {
  background-color: mediumspringgreen;
  height: 80px;

}
